#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
#DH_VERBOSE = 1

# see EXAMPLES in dpkg-buildflags(1) and read /usr/share/dpkg/*
DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/default.mk

# see FEATURE AREAS in dpkg-buildflags(1)
#export DEB_BUILD_MAINT_OPTIONS = hardening=+all

# see ENVIRONMENT in dpkg-buildflags(1)
# package maintainers to append CFLAGS
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
# package maintainers to append LDFLAGS
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

exelang:=ar de el es en fr hi hu id it ja ko nl no pl pt ru th tr zh
archplugins:= \
	plugins/CopyEngine/Ultracopier \
	plugins/Listener/catchcopy-v0002 \
	plugins/PluginLoader/catchcopy-v0002 \
	plugins/SessionLoader/KDE4 \
	plugins/SessionLoader/Windows \
	plugins/Themes/Oxygen \
	plugins-alternative/Themes/Clean \
	plugins-alternative/Themes/Teracopy \
	plugins-alternative/PluginLoader/keybinding 
	
#	plugins-alternative/Themes/Supercopier 
#	plugins/CopyEngine/Rsync 
#	plugins/Listener/dbus 

debian/detect_arch: debian/detect_arch.cpp
	dh_auto_configure --buildsystem=qmake -- debian/detect_arch.pro
	make
	make install
	make distclean

language_ts_to_qm:
	#create language ts to qm
	lrelease ultracopier-core.pro
	lrelease plugins/CopyEngine/Ultracopier/CopyEngine.pro
	lrelease plugins/Themes/Oxygen/interface.pro
	lrelease plugins/PluginLoader/catchcopy-v0002/pluginLoader.pro
	lrelease plugins-alternative/PluginLoader/keybinding/pluginLoader.pro 
	lrelease plugins-alternative/Themes/Clean/interface.pro 
	#lrelease plugins-alternative/Themes/Supercopier/interface.pro 
	lrelease plugins-alternative/Themes/Teracopy/interface.pro 
	
override_dh_auto_configure: debian/detect_arch language_ts_to_qm
	find plugins/Languages -name flag.png -exec chmod a-x {} +
	ucp_arch=$$(debian/detect_arch) ; \
		for pluginsxml in $(patsubst %,%/informations.xml,$(archplugins)) ; do \
			sed -i -r "s|(<architecture>).*(</architecture>)|\1$$ucp_arch\2|" $$pluginsxml; \
		done
	cd plugins/CopyEngine/Ultracopier/ ; qmake CopyEngine.pro 
	cd plugins/Listener/catchcopy-v0002/ ; qmake listener.pro
	cd plugins/Themes/Oxygen/; qmake interface.pro
	cd plugins/PluginLoader/catchcopy-v0002/; qmake pluginLoader.pro
	cd plugins/SessionLoader/KDE4/; qmake sessionLoader.pro
	
	cd plugins-alternative/PluginLoader/keybinding; qmake pluginLoader.pro 
	cd plugins-alternative/Themes/Clean; qmake interface.pro 
	#cd plugins-alternative/Themes/Supercopier; qmake interface.pro 
	cd plugins-alternative/Themes/Teracopy; qmake interface.pro 
	
	qmake QMAKE_CXXFLAGS="-I./plugins/CopyEngine/Ultracopier/ -L./plugins/CopyEngine/Ultracopier/ \
	 -I./plugins/Listener/catchcopy-v0002/ -L./plugins/Listener/catchcopy-v0002/ \
	 -I./plugins/Themes/Oxygen/ -L./plugins/Themes/Oxygen/" ultracopier-core.pro
	 
	touch .configure
	
override_dh_auto_clean:
	dh_auto_clean -- -C plugins/CopyEngine/Ultracopier/
	rm -f plugins/CopyEngine/Ultracopier/libcopyEngine.so 

	dh_auto_clean -- -C plugins/Listener/catchcopy-v0002/
	rm -f plugins/Listener/catchcopy-v0002/liblistener.so

	dh_auto_clean -- -C plugins/Themes/Oxygen/
	rm -f plugins/Themes/Oxygen/libinterface.so

	dh_auto_clean -- -C plugins/PluginLoader/catchcopy-v0002/
	rm -f plugins/PluginLoader/catchcopy-v0002/libpluginLoader.so

	dh_auto_clean -- -C plugins/SessionLoader/KDE4/
	rm -f plugins/SessionLoader/KDE4/libsessionLoader.so

	dh_auto_clean -- -C plugins-alternative/PluginLoader/keybinding 
	rm -f plugins-alternative/PluginLoader/keybinding/libpluginLoader.so

	dh_auto_clean -- -C plugins-alternative/Themes/Clean
	rm -f plugins-alternative/Themes/Clean/libinterface.so
	#dh_auto_clean -- -C plugins-alternative/Themes/Supercopier
	#rm -f plugins-alternative/Themes/Supercopier/libinterface.so
	dh_auto_clean -- -C plugins-alternative/Themes/Teracopy
	rm -f plugins-alternative/Themes/Teracopy/libinterface.so
	
	for pluginsxml in $(patsubst %,%/informations.xml,$(archplugins)) ; do \
		sed -i -r 's|(<architecture>).*(</architecture>)|\1windows-x86\2|' $$pluginsxml; \
	done
	rm -f debian/detect_arch
	for dir in $(exelang); do chmod go+x plugins/Languages/$$dir/flag.png ; done
	
	#remove language *.qm
	#plugins/Languages
	for dir in $(exelang); do rm -f plugins/Languages/$$dir/*.qm ; done
	#plugins/CopyEngine/Ultracopier/Languages/
	for dir in $(exelang); do rm -f plugins/CopyEngine/Ultracopier/Languages/$$dir/*.qm ; done
	#plugins/Themes/Oxygen/Languages/
	for dir in $(exelang); do rm -f plugins/Themes/Oxygen/Languages/$$dir/*.qm ; done
	#plugins/PluginLoader/catchcopy-v0002/Languages/
	for dir in $(exelang); do rm -f plugins/PluginLoader/catchcopy-v0002/Languages/$$dir/*.qm ; done
	#plugins-alternative/PluginLoader/keybinding/Languages/ 
	for dir in $(exelang); do rm -f plugins-alternative/PluginLoader/keybinding/Languages/$$dir/*.qm ; done
	#plugins-alternative/Themes/Clean/Languages/ 
	for dir in $(exelang); do rm -f plugins-alternative/Themes/Clean/Languages/$$dir/*.qm ; done
	#plugins-alternative/Themes/Supercopier/Languages/
	#for dir in $(exelang); do rm -f plugins-alternative/Themes/Supercopier/Languages/$$dir/*.qm ; done
	#plugins-alternative/Themes/Teracopy/Languages/
	for dir in $(exelang); do rm -f plugins-alternative/Themes/Teracopy/Languages/$$dir/*.qm ; done

	dh_auto_clean
	rm -f .build .configure
	
override_dh_auto_build:
	dh_auto_build -- -C plugins/CopyEngine/Ultracopier/
	dh_auto_build -- -C plugins/Listener/catchcopy-v0002/
	dh_auto_build -- -C plugins/Themes/Oxygen/
	dh_auto_build -- -C plugins/PluginLoader/catchcopy-v0002/
	dh_auto_build -- -C plugins/SessionLoader/KDE4/
	dh_auto_build -- -C plugins-alternative/PluginLoader/keybinding 
	dh_auto_build -- -C plugins-alternative/Themes/Clean/
	#dh_auto_build -- -C plugins-alternative/Themes/Supercopier/ 
	dh_auto_build -- -C plugins-alternative/Themes/Teracopy/
	
	dh_auto_build 

	touch .build
	
override_dh_auto_install:
	#CopyEngine
	dh_install plugins/CopyEngine/Ultracopier/libcopyEngine.so /usr/share/ultracopier/CopyEngine/Ultracopier/
	dh_install plugins/CopyEngine/Ultracopier/informations.xml /usr/share/ultracopier/CopyEngine/Ultracopier/
	dh_install plugins/CopyEngine/Ultracopier/Languages/ /usr/share/ultracopier/CopyEngine/Ultracopier/
	#Listener
	dh_install plugins/Listener/catchcopy-v0002/liblistener.so /usr/share/ultracopier/Listener/catchcopy-v0002/
	dh_install plugins/Listener/catchcopy-v0002/informations.xml /usr/share/ultracopier/Listener/catchcopy-v0002/
	#Themes
	dh_install plugins/Themes/Oxygen/libinterface.so /usr/share/ultracopier/Themes/Oxygen/
	dh_install plugins/Themes/Oxygen/informations.xml /usr/share/ultracopier/Themes/Oxygen/
	dh_install plugins/Themes/Oxygen/Languages/ /usr/share/ultracopier/Themes/Oxygen/
	#PluginLoader
	dh_install plugins/PluginLoader/catchcopy-v0002/libpluginLoader.so /usr/share/ultracopier/PluginLoader/catchcopy-v0002/
	dh_install plugins/PluginLoader/catchcopy-v0002/informations.xml /usr/share/ultracopier/PluginLoader/catchcopy-v0002/
	dh_install plugins/PluginLoader/catchcopy-v0002/Languages/ /usr/share/ultracopier/PluginLoader/catchcopy-v0002/
	#SessionLoader
	dh_install plugins/SessionLoader/KDE4/libsessionLoader.so /usr/share/ultracopier/SessionLoader/KDE4/
	dh_install plugins/SessionLoader/KDE4/informations.xml /usr/share/ultracopier/SessionLoader/KDE4/
	#keybinding
	dh_install plugins-alternative/PluginLoader/keybinding/libpluginLoader.so  /usr/share/ultracopier/PluginLoader/keybinding/
	dh_install plugins-alternative/PluginLoader/keybinding/informations.xml /usr/share/ultracopier/PluginLoader/keybinding/
	dh_install plugins-alternative/PluginLoader/keybinding/Languages/ /usr/share/ultracopier/PluginLoader/keybinding/
	#Other Themes
	dh_install plugins-alternative/Themes/Clean/libinterface.so /usr/share/ultracopier/Themes/Clean/
	dh_install plugins-alternative/Themes/Clean/informations.xml /usr/share/ultracopier/Themes/Clean/
	dh_install plugins-alternative/Themes/Clean/Languages/ /usr/share/ultracopier/Themes/Clean/
	#dh_install plugins-alternative/Themes/Supercopier/libinterface.so /usr/share/ultracopier/Themes/Supercopier/
	#dh_install plugins-alternative/Themes/Supercopier/informations.xml /usr/share/ultracopier/Themes/Supercopier/
	#dh_install plugins-alternative/Themes/Supercopier/Languages/ /usr/share/ultracopier/Themes/Supercopier/
	dh_install plugins-alternative/Themes/Teracopy/libinterface.so /usr/share/ultracopier/Themes/Teracopy/
	dh_install plugins-alternative/Themes/Teracopy/informations.xml /usr/share/ultracopier/Themes/Teracopy/
	dh_install plugins-alternative/Themes/Teracopy/Languages/ /usr/share/ultracopier/Themes/Teracopy/
	#main 
	dh_install plugins/Languages/ /usr/share/ultracopier/
	dh_install ultracopier /usr/bin/
	
	#desktop
	dh_install debian/ultracopier.desktop /usr/share/applications/
	dh_install debian/ultracopier.png /usr/share/pixmaps
	
%:
	dh $@ --buildsystem=qmake
